<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Email Template</title>
</head>
<body>
    <p>{{name}},</p>
    <p>Congratulations! You've been awarded a certificate from {{company}}.</p>
    <p>Attached to this email is your certificate.</p>
    <p>Best regards,</p>
    <p>law.code_</p>
</body>
</html>
